@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
   --main-color:#3367cc;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 100vh;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px) { 
    .container{
        width: 562px;
    }
 }
/* Small */
@media(min-width: 768px){
    .container{
        width: 750px;
    }

}
/* Medium */
@media(min-width: 992px){
    .container{
        width: 970px;
    }

}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* ------header------ */
header > nav{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2f2f2;
    display: flex;
    z-index: 999;
}
header > nav > .container > div{
    display: flex;
    justify-content: space-between;
}
header > nav img{
    width: 200px;
    height: auto;
}
header > nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header > nav ul > li > a{
    text-decoration: none;
    font-size: 1rem;
    color:black;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    position: relative;
    outline: none;
    padding: 2px 0;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
header > nav ul > li > a:hover{
    color: var(--main-color,#3367cc);
}
header > nav ul > li > a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--main-color,#3367cc);
    transition: width 0.4s ease-out;
    -webkit-transition: width 0.4s ease-out;
    -moz-transition: width 0.4s ease-out;
    -ms-transition: width 0.4s ease-out;
    -o-transition: width 0.4s ease-out;
}
header > nav ul > li > a::after{
    content: "";
    position: absolute;
    right: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--main-color,#3367cc);
    transition: width 0.4s ease-out;
    -webkit-transition: width 0.4s ease-out;
    -moz-transition: width 0.4s ease-out;
    -ms-transition: width 0.4s ease-out;
    -o-transition: width 0.4s ease-out;
}
header > nav ul > li a:hover::before,
header > nav ul > li a:hover::after{
    width: 50%;
}
.active{
    color: var(--main-color,#3367cc) !important;
}
header > nav ul > li a.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--main-color,#3367cc);
    transition: width 0.4s ease-out;
    -webkit-transition: width 0.4s ease-out;
    -moz-transition: width 0.4s ease-out;
    -ms-transition: width 0.4s ease-out;
    -o-transition: width 0.4s ease-out;
}
header > .contentHeader{
    height: calc(100% - 49.188px);
    display: flex;
    position: relative;
}
header > .contentHeader > .sectionLeft{
    width: 50%;
    background-color: var(--main-color,#3367cc);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > .contentHeader > .sectionLeft > div{
    width: 354px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
header > .contentHeader > .sectionLeft h1{
    text-transform: capitalize;
    font-size: 4.5rem;
    word-wrap: break-word;
}
header > .contentHeader > .sectionLeft p{
    font-size: 1.1rem;
    text-transform: uppercase;
    word-wrap: break-word;
    line-height: 2;
    letter-spacing: 2px;
    
}
header > .contentHeader > .sectionRight{
    width: 50%;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),url(imgs/imageHeader.jpeg);
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
}
.contentHeader > img{
    position: absolute;
    width: 500px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-43%,-50%);
    -webkit-transform: translate(-43%,-50%);
    -moz-transform: translate(-43%,-50%);
    -ms-transform: translate(-43%,-50%);
    -o-transform: translate(-43%,-50%);
}
/* ----category---- */
main .products{
padding: 57px 0;
}
main .products > .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
main .products > .cards > .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

main .products > .cards > .card > .boxImage{
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    -webkit-transition: transform 0.15s ease-in-out;
    -moz-transition: transform 0.15s ease-in-out;
    -ms-transition: transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
}
main .products > .cards > .card:nth-child(1) > .boxImage
{
    background-image: url(imgs/GT-AIR-II/gt-air2.png);
}
main .products > .cards > .card:nth-child(2) > .boxImage{
    background-image: url(imgs/X-FOURTEEN/x-fourteen.png) ;
}
main .products > .cards > .card:nth-child(3) > .boxImage{
     background-image: url(imgs/NEOTEC-II/neotec2.png);
}
main .products > .cards > .card:nth-child(4) .boxImage
{
    background-image: url("imgs/HORNET-ADV/HORNET-ADV.png");
}
main .products > .cards > .card > .boxImage:hover{
    transform: translate3d(0,-10px,0) ;
    -webkit-transform: translate3d(0,-10px,0) ;
    -moz-transform: translate3d(0,-10px,0) ;
    -ms-transform: translate3d(0,-10px,0) ;
    -o-transform: translate3d(0,-10px,0) ;
}
main .products  .card > .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

}
main .products  .info > .title{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.7px;
}
main .products  .info > .description{
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
}
main .products .info > .description + div{
    display: flex;
    align-items: center;
    /* column-gap:6px; */
}
main .products .info div > .viewMoreBtn{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight:700;
    padding: 5px 6px;
    cursor: pointer; 
    position: relative;
    flex-shrink: 0;
  
}
main .products .info > div > .viewMoreBtn::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 2px;
    width: 80%;
    background-color: var(--main-color,#3367cc);
}
main .products .info > div > .viewMoreBtn + span.iconViewMore{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: var(--main-color,#3367cc);
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
main .products .info > div > .viewMoreBtn + .moins::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    top: 46%;
    left: 4px;
}
main .products .info > div > .viewMoreBtn + .plus::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #ffffff;
    top: 4px;
    left: 46%;

}
main .products .info > .miniCards{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hide{
    top: -70px !important;
}
main .products .info > .miniCards > .card{
    border: 2px solid transparent;
    position: relative;
    top: 0px;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
}
main .products .info > .miniCards  .boxImage{
    width: 58.5px;
    height: 58.5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
main .products .info > .miniCards > .card:hover{
    border-color: var(--main-color,#3367cc);
}

main .products .card:nth-child(1) > .info > .miniCards > .card:nth-child(1) > .boxImage{
    background-image: url("imgs/GT-AIR-II/gt-air2-glorify_tc-2.png");
}
main .products .card:nth-child(1) >.info > .miniCards > .card:nth-child(2) > .boxImage{
    background-image: url("imgs/GT-AIR-II/gt-air2-mm93-collection-road_tc-5-1.png");
}main .products .card:nth-child(1) > .info > .miniCards > .card:nth-child(3) > .boxImage{
    background-image: url("imgs/GT-AIR-II/gt-air2-notch_tc-5.png");
}main .products .card:nth-child(1) > .info > .miniCards > .card:nth-child(4) > .boxImage{
    background-image: url("imgs/GT-AIR-II/gt-air2-notch_tc-8.png");
}


main .products .card:nth-child(2) > .info > .miniCards > .card:nth-child(1) > .boxImage{
    background-image: url("imgs/X-FOURTEEN/x-fourteen-kujaku_tc-5-1.png");
}
main .products .card:nth-child(2) >.info > .miniCards > .card:nth-child(2) > .boxImage{
    background-image: url("imgs/X-FOURTEEN/x-fourteen-aerodyne_tc-9.png");
}main .products .card:nth-child(2) > .info > .miniCards > .card:nth-child(3) > .boxImage{
    background-image: url("imgs/X-FOURTEEN/x-fourteen-marquez6_tc-1-1.png");
}main .products .card:nth-child(2) > .info > .miniCards > .card:nth-child(4) > .boxImage{
    background-image: url("imgs/X-FOURTEEN/x-fourteen-aerodyne_tc-4.png");
}


main .products .card:nth-child(3) > .info > .miniCards > .card:nth-child(1) > .boxImage{
    background-image: url("imgs/NEOTEC-II/neotec2-respect_tc-1.png");
}
main .products .card:nth-child(3) >.info > .miniCards > .card:nth-child(2) > .boxImage{
    background-image: url("imgs/NEOTEC-II/neotec2-winsome_tc-6.png");
}main .products .card:nth-child(3) > .info > .miniCards > .card:nth-child(3) > .boxImage{
    background-image: url("imgs/NEOTEC-II/neotec2-respect_tc-10.png");
}main .products .card:nth-child(3) > .info > .miniCards > .card:nth-child(4) > .boxImage{
    background-image: url("imgs/NEOTEC-II/neotec2-mm93-collection-2-way_tc-5.png");
}

main .products .card:nth-child(4) > .info > .miniCards > .card:nth-child(1) > .boxImage{
    background-image: url("imgs/HORNET-ADV/HORNET-ADV-SOVEREIGN_TC-1.png");
}
main .products .card:nth-child(4) >.info > .miniCards > .card:nth-child(2) > .boxImage{
    background-image: url("imgs/HORNET-ADV/HORNET_MatteDeepGrey.png");
}main .products .card:nth-child(4) > .info > .miniCards > .card:nth-child(3) > .boxImage{
    background-image: url("imgs/HORNET-ADV/HORNET_Black.png");
}main .products .card:nth-child(4) > .info > .miniCards > .card:nth-child(4) > .boxImage{
    background-image: url("imgs/HORNET-ADV/HORNET_White.png");
}

main > .HelmetProfile{
    background-image: url(imgs/imageMotoProfil.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
main > .HelmetProfile .containerOfLayout{
    display: flex;
    column-gap: 30px;
    padding: 70px 0;
}
main .containerOfLayout > .leftBox,
main .containerOfLayout > .rightBox{
    width: 50%;
}
main > .HelmetProfile .containerOfLayout > .rightBox{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 100px 0;
}
main > .HelmetProfile .containerOfLayout > .rightBox > h2{
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
    word-wrap: break-word;
    letter-spacing: 1px;
    max-width: 440px;
}
main > .HelmetProfile .containerOfLayout > .rightBox > h5{
    text-transform: uppercase;
    font-size: 1rem;
    max-width: 360px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--main-color,#3367cc);
}
main > .HelmetProfile .containerOfLayout > .rightBox > div p{
    font-size: 1rem;
    line-height: 1.6;
    text-indent: 10px;
    letter-spacing: 1px;
    max-width: 470px;
    word-wrap: break-word;
}
main > .HelmetProfile .containerOfLayout > .leftBox{
    background-image: url(imgs/imageBoxleft.jpg);
    background-position: center;
    background-size: cover;
}
main > .boxOneInfo{
    background-image: url(imgs/imageMotoProfilTwo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
}
main > .boxOneInfo h1{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 1.2rem 0;
}
main > .boxOneInfo h4{
    text-transform: uppercase;
    color: var(--main-color,#3367cc);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 1.2rem 0;
}
main > .boxOneInfo p{
    color: #ffffff;
    line-height: 1.6;
    word-wrap: break-word;
    font-size: 1rem;
    max-width: 600px;
    letter-spacing: 1px;
    margin: 1.2rem 0;
}

main > .boxOneInfo a,
main > .boxTwoInfo a
{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight:700;
    padding: 5px 0;
    cursor: pointer; 
    position: relative;
    text-decoration: none;
    color: #ffffff;
}
main > .boxOneInfo a::before,
main > .boxTwoInfo a::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--main-color,#3367cc);
}

main > .boxTwoInfo .containerOfLayout{
    display: flex;
    column-gap: 30px;
    padding: 70px 0;
}
main > .boxTwoInfo .leftBox {
    padding: 100px 0;
}
main > .boxTwoInfo .leftBox > h1{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.1;
    margin: 1.2rem 0;
    color: #000000;
}
main > .boxTwoInfo .leftBox > h4{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--main-color,#3367cc);
    font-weight: 400;
    line-height: 1.2;
    margin: 1.2rem 0;
    letter-spacing: 2px;
}
main > .boxTwoInfo .leftBox > p{
    font-size: 1rem;
    line-height: 1.6;
    word-wrap: break-word;
    letter-spacing: 1px;
    margin: 1.2rem 0;
}

main > .boxTwoInfo .leftBox > a{
    color: #000000 !important;
}
main > .boxTwoInfo .rightBox{
    background-image: url(imgs/imageMotoProfilThree.jpeg);
    background-size: cover;
    background-position: center;
}
main > .ourServices{
    padding: 100px 0;
    background-color: #f2f2f2;
}
main  >.ourServices div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
main > .ourServices div > h1{
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: #000000;
    position: relative;
}
main > .ourServices div > h1::before{
    position: absolute;
    content: "";
    background-image: url(imgs/services.png);
    width: 50px;
    height: 50px;
    right: -65px;
    background-position: center;
    background-size: cover;
}

main > .ourServices div > p{
    max-width: 685px;
    font-size: 1rem;
    line-height: 1.4;
    word-wrap: break-word;
    letter-spacing: 1px;
}
/* ----------Accessories Section---------- */
main > .accessories{
  background-image: url("imgs/imgAccessoriesBox.jpeg");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  
}
main > .accessories h1{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}
main > .accessories h3{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
}
main > .accessories .accessoriesBox{
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    color: #ffffff;
}
main > .accessories .accessoriesBox > .imgBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /* -----Accessories One-----*/
main > .accessories .accessoriesBox > .imgBox:nth-child(1){
    grid-column: span 2;
    grid-row: span 4;
    justify-content: space-around;
}
main > .accessories .accessoriesBox > .imgBox:nth-child(1) > img:only-of-type{
    width: 340px;
}
/* -----Accessories Two and Three and Four ----- */
main > .accessories .accessoriesBox > .imgBox > img:not(.accessories .imgBox:nth-child(1) > img,.accessories .imgBox:nth-child(5) > img){
    width: 194px;
}
main > .accessories .accessoriesBox > .imgBox:not(.accessories .imgBox:nth-child(1),.accessories .imgBox:nth-child(5)){
    grid-row: span 2;
    justify-content: space-around;
}
 /* -----Accessories Five----- */
main > .accessories .accessoriesBox > .imgBox:nth-child(5){
    grid-row: span 2;
    justify-content: space-evenly;
}
main > .accessories .accessoriesBox > .imgBox:nth-child(5) > img:only-of-type{
    width: 157px;
}
main > .contactSection{
    padding: 100px 0;
    background-color: #e3e3e3;
}
main > .contactSection h1{
    text-transform: capitalize;
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}
main > .contactSection  p{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}
main > .contactSection  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

main .contactSection  form > input:not(input[type = "Submit"]),
main .contactSection form > textarea
{
    padding: 12px 13px;
    background-color: #ffffff;
    outline: none;
    width: 400px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 0 25px rgba(1 1 1 / 15%);
}
main .contactSection  form > input:not(input[type = "Submit"])::placeholder{
    text-transform: capitalize;
}
main .contactSection form > textarea::placeholder{
    text-transform: capitalize;
    font-size: 1rem;

}
main .contactSection form > input[ type = "Submit"]{
    padding: 0.8rem 4.4rem;
    font-size: 0.9rem;
    border: 1px solid var(--main-color,#3367cc);
    background-image: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
}
main .contactSection form > input[ type = "Submit"]:hover{
    background-image:linear-gradient(0deg, #3367cc 100%, rgba(2,126,251,1) 0%);

}
/* ------footer------ */
footer{
    background-color: #000000;
}
footer .contentFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
footer .contentFooter > img{
    width: 100px;
    padding: 10px 0;
}
footer .contentFooter > ul{
    display: flex;
    list-style: none;
}
footer .contentFooter > ul > li{
    padding: 0.8rem 0.6rem;
}
footer .contentFooter > ul > li > a{
    color: #5e5e5e;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
}
footer .contentFooter > ul > li > a:hover{
    color: var(--main-color,#3367cc);
}

footer .contentFooter span{
    padding: 1.6rem;
    color: #5e5e5e;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 0.8rem;
}
footer .contentFooter span a{
    text-decoration: none;
    color: var(--main-color,#3367cc);
}
main > .btnUp{
    width: 50px;
    height:50px;
    background-image: url(imgs/btnUp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    right: -60px;
    bottom: 20px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    cursor: pointer;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.show{
    right: 10px !important;
}

.loader{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    z-index: 999;
}
.loader::before{
content: "";
width: 85px;
height: 85px;
border: 7px solid #dddddd5c;
border-top-color: var(--main-color,#3367cc);
border-bottom-color: var(--main-color,#3367cc);
border-radius: 50%;
animation: loading 0.75s ease infinite;

}
.loader::after{
content: "loading...";
font-size: 1.1rem;
font-weight: 600;
text-transform: capitalize;
letter-spacing: 1px;
animation: opacity 0.75s ease infinite;

}
@keyframes loading {
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
}
@keyframes opacity{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}

/* Extra small*/
@media(max-width:575.98px){
    .container{
        width: 280px;
    }
    .contentHeader > img{
        width: 200px;
    }
    header > .contentHeader > .sectionLeft > div{
        width: 232px;
    }
    header > .contentHeader > .sectionLeft h1{
        font-size: 2rem;
    }
    header > .contentHeader > .sectionLeft p{
        font-size: 0.65rem;
    }
    header > .contentHeader > .sectionLeft img{
        width: 100px;
    }
    header > nav ul{
        gap: 1rem;
    }
    header > nav ul > li > a{
        font-size: 0.80rem;
    }
    header > nav img {
        width: 120px;
    }
    main > .accessories .accessoriesBox > .imgBox:nth-child(1) > img:only-of-type {
        width:240px;
    }
    main > .accessories .accessoriesBox > .imgBox > img:not(.accessories .imgBox:nth-child(1) > img,.accessories .imgBox:nth-child(5) > img){
        width: 140px;
    }
    main > .accessories .accessoriesBox > .imgBox:nth-child(5) > img:only-of-type{
        width: 100px;
    }
    main > .accessories h3{
        font-size: 1rem;
    }
    main > .accessories .accessoriesBox{
        width: 260px;
        height: 800px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
    }
    main .contactSection form > input:not(input[type = "Submit"]), main .contactSection form > textarea {
        width: 300px;
    }
}


/* Small */
  @media (min-width: 576px) { 
    .container{
        width: 559px;
    }
    .contentHeader > img{
        width: 290px;
    }
    header > .contentHeader > .sectionLeft h1{
        font-size: 2.5rem;
    }
    header > .contentHeader > .sectionLeft p{
        font-size: 0.70rem;
    }
    header > .contentHeader > .sectionLeft img{
        width: 120px;
    }
    main > .accessories .accessoriesBox > .imgBox:nth-child(1) > img:only-of-type {
        width:280px;
    }
    main > .accessories .accessoriesBox > .imgBox > img:not(.accessories .imgBox:nth-child(1) > img,.accessories .imgBox:nth-child(5) > img){
        width: 170px;
    }
    main > .accessories .accessoriesBox > .imgBox:nth-child(5) > img:only-of-type{
        width: 140px;
    }
    main > .accessories h3{
        font-size: 1rem;
    }
    main > .accessories .accessoriesBox{
        width: 530px;
        height: 800px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
    }
    
 }
 /* Medium */
@media(min-width: 768px){
    .container{
        width: 750px;
    }
    .contentHeader > img{
        width: 380px;
        
     }
     header > .contentHeader > .sectionLeft h1{
        font-size: 3rem;
    }
    header > .contentHeader > .sectionLeft p{
        font-size: 0.97rem;
    }
    main > .accessories .accessoriesBox{
        width: 600px;
        height: 500px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    main > .accessories h3{
        font-size: 1.2rem;
    }

}
/* Large */
@media(min-width: 992px){
    .container{
        width: 970px;
    }
    .contentHeader > img{
        width: 400px;
     }
     header > .contentHeader > .sectionLeft h1{
         font-size: 4.2rem;
     }
     main > .accessories .accessoriesBox{
        width: 800px;
    }

}
/* Extra large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
    .contentHeader > img{
        width: 500px;
     }
     header > .contentHeader > .sectionLeft h1{
        font-size: 4.5rem;
    }
}